.form-select {
  padding-right: 2.5rem; /* Adjust for custom arrow */
  background-image: url('../images/custom-arrow.svg'); /* Custom arrow image */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}